# dependencies
node_modules/

# build output
dist/
web-build/

# React Native / Metro
.metro-health-check*
*.jsbundle

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/DerivedData/

# Ruby bundler
.bundle/
vendor/bundle/

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Environment
.env
